[
  {
    "domain": ".youtube.com",
    "expirationDate": 1747539600,
    "hostOnly": false,
    "httpOnly": true,
    "name": "VISITOR_INFO1_LIVE",
    "path": "/",
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "your_value_here"
  }
]
